@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

Color Pallete Beauty {
  /*page*/
  background-color: black;
  background-color: white;
  background-color: #2a836b;
  background-color: #4ceb94;
  background-color: #9cf7c5;
  /*bubbles*/
  background-color: #024053;
  background-color: #136b69;
  background-color: #499c70;
  background-color: #6eb47d;
  background-color: #9dcc9b;
  background-color: #d5e4cf;
}

Color Pallete Ugly {
  /*page*/
  background-color: black;
  background-color: white;
  background-color: #7df76d;
  background-color: #3bf75b;
  background-color: #509d45;
  /*bubbles*/
  background-color: #1d782c;
  background-color: #37df5b;
  background-color: #4af06e;
  background-color: #70de62;
  background-color: #7df76d;
  background-color: #9fd69d;
  background-color: #d5e4cf;
}

@font-face {
  font-family: "Golca";
  src: url(pepper-type-golca/Pepper\ Type\ -\ Golca-ExtraLight.otf);
}

body {
  overflow: hidden;
  background-color: rgb(40, 40, 40);
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  /* background-image: url(../assets/bbb23//BG_Generico_001\ \(5\)_cleanup.png);
  background-size: cover;
  position: relative; */
  background: rgb(39,5,96);
background: radial-gradient(circle, rgba(39,5,96,1) 0%, rgba(56,0,183,1) 100%);
}

.cabecalho {
  position: absolute;
  top: 0;
align-items: center;
padding: 15px 25px;
max-height: 50vh;
}


.cabecalho img {
  max-width: 100%;
  position: relative;

}
.cabecalho .col:last-child{ 
  text-align: right;
}


.roboBBB {
  position: absolute;
  width: 50vw;
  top: 0em;
  left: 4vw;
}

img {
  z-index: 1001 !important;
}

.logoBBB {
  width: 25vw;
  top: -3vw;
}
.logoPormade {
  width: 25vw;
  top: -3vw;
}

.fundo {
  margin-top: 29vh;
}
.SelectJogos {
  margin-top: 50vh;
}

h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  z-index: 1001 !important;
  font-weight: 900;
  font-size: 80px;
  color: rgb(255, 255, 255);
  padding: 0%;
}

h2 {
  z-index: 1001 !important;
  text-align: end;
  padding: 0%;
  margin: 0%;
  height: 155px;
  transform: rotate(-15deg);
}

/* .bi-controller {
  color: white;
  font-size: 120px;
  padding-right: 42px;
  vertical-align: -2.4em;
  animation: flickflick 3s infinite;
} */

@keyframes flickflick {
  0% {
    text-shadow: 0 0 0em white;
  }
  25% {
    text-shadow: 0 0 1em white;
  }
  50% {
    text-shadow: 0 0 0.08em white;
  }
  100% {
    text-shadow: 0 0 0em white;
  }
}

h3 {
  z-index: 1001 !important;
  padding-top: 3px;
  margin-right: 20em;
  text-align: end;
  font-family: "Golca", sans-serif;
  z-index: 1001 !important;
  font-weight: bolder;
  font-size: 2em;
  letter-spacing: 3px;
  line-height: 0%;
}

.el1 {
  z-index: 1001 !important;
  color: #509d45;
  text-shadow: 0 0 1em #509d45;
  animation: glitch1 2.5s infinite;
}
.el2 {
  z-index: 1001 !important;
  padding-top: 0%;
  color: #509d45;
  text-shadow: 0 0 1em #509d45;
  animation: glitch2 2.5s infinite;
}
.el3 {
  z-index: 1001 !important;
  color: #509d45;
  text-shadow: 0 0 1em #509d45;
  animation: glitch3 2.5s infinite;
}
@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(-8deg, 0.4deg);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-5deg, 2deg);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-2deg, 10deg);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-10deg, 7deg);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(0.7deg, -5deg);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-10deg, -2.7deg);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-3deg, 2deg);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-1.3deg, 2deg);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(1deg, 4deg);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

.cta {
  width: 570px;
  height: 150px;
  display: flex;
  padding: 45px;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  background: #ff8e2a;
  transition: 0.5s;
  box-shadow: 20px 20px 0 rgb(255, 255, 255);
  transform: skewX(-15deg);
}
.cta:hover {
  color: rgb(0, 0, 0);
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

span {
  transform: skewX(15deg);
}

span:nth-child(2) {
  color: rgb(0, 0, 0);
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

svg {
  vertical-align: 0%;
}

.one {
  transition: 0.4s;
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.two {
  transition: 0.5s;
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

.three {
  animation: color_anim 1s infinite 0.2s;
}

@keyframes color_anim {
  0% {
    fill: rgb(255, 251, 0);
  }
  50% {
    fill: #000000;
  }
  100% {
    fill: rgb(255, 251, 0);
  }
}

.bi-joystick {
  padding-left: 15px;
}
.bi-suit-diamond-fill {
  padding-left: 10px;
}
.bi-building {
  padding-left: 15px;
}

li {
  list-style: none;
  /* border-radius: 50%; */
  display: block;
  position: absolute;
  animation: up 3s infinite alternate;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
}

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    transform: translateY(-150vh);
  }
}

/*
@media (max-width: 500px) {
  .logoPormade {
    position: relative;
    width: 6em;
    padding-bottom: 48%;
  }

  .logoBBB {
    position: relative;
    width: 5em;
    margin: 0;
    padding: 0;
    padding-top: 15%;
    margin-left: 64%;
  }

  .roboBBB {
    width: 30em;
  }


  .row{

    padding-top: 3em;
    
  }

  .fundo {
    margin-top:  auto;
    margin-top: 35vh;

  }

  .cta {
    width: 400px;
    height: 120px;
    font-size: 23px;
  }

}


@media (max-width:700px){

  .logoPormade {
    position: relative;
    width: 8em;
    padding-bottom: 46%;
  }

  .logoBBB {
    position: relative;
    width: 7em;
    margin: 0;
    padding: 0;
    margin-left: 64%;
  }

  .roboBBB {
    position: absolute;
  }

  .cta {
    width: 500px;
    height: 140px;
    font-size: 30px;
  }

  .row{

    padding-top: 5em;
    
  }

}

@media screen and (max-width: 1334px){

  .logoPormade{

    width: 35%;
    padding-top: 420px;
    margin-left: 1em;
  }

.logoBBB{
  
  width: 30%;
  margin: 0;
  margin-left: 23em;
  padding-top: 12em;
}


}
*/