@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

@font-face {
  font-family: 'Golca';
  src: url(pepper-type-golca/Pepper\ Type\ -\ Golca-ExtraLight.otf);
}

body{
  margin: 0;
  overflow: hidden;
  padding: 0;
  background-color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
}

.fundo{
  width: 100vw;
  height: 100vh;
  margin: 0px;
  margin-top: 100vw;
  box-shadow:0 -8em 2500px #4ceb94;
}

.row{
  padding-top: 150px;
  align-items: center;
  justify-content: center;
}

.row-title{
  z-index: 1001 !important;
  padding-top: 150px;
}

img{
  z-index: 1001 !important;
}

h1{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  z-index: 1001 !important;
  font-weight: 900;
  font-size: 190px;
  color: white;
  padding: 0%;
}

h2{
  z-index: 1001 !important;
  text-align: end;
  padding: 0%;
  margin: 0%;
  height: 155px;
  transform: rotate(-15deg);
}

.bi-controller{
  color: white;
  font-size: 120px;
  padding-right: 42px;
  vertical-align: -2.4em;
  animation: flickflick 3s infinite;
}
@keyframes flickflick {
  0%{ text-shadow:0 0 0em white;}
  25%{ text-shadow:0 0 1em white;}
  50%{ text-shadow:0 0 0.08em white;}
  100%{ text-shadow:0 0 0em white;}
}

h3{
  padding-top: 5px;
  margin: 0%;
  text-align: end;
  font-family: 'Golca', sans-serif;
  z-index: 1001 !important;
  font-weight: bolder;
  font-size: 3em;
  letter-spacing: 7px;
  line-height: 0%;
}
.el1{
  color: #c7f1bf;
  text-shadow: 0 0 1em #2A836B;
  animation: glitch1 2.5s infinite;
}
.el2 {
  padding-top: 0%;
  color: #87e2b0;
  text-shadow: 0 0 1em #9cf7c5;
  animation: glitch2 2.5s infinite;
}

.el3 {
  color: #9bf593;
  text-shadow: #4ceb94;
  animation: glitch3 2.5s infinite;
}
@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(-8deg, 0.4deg);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-5deg, 2deg);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-2deg, 10deg);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-10deg, 7deg);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(0.7deg, -5deg);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-10deg, -2.7deg);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-3deg, 2deg);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-1.3deg, 2deg);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(1deg, 4deg);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

.col{
  flex: 0;
  z-index: 1001 !important;
  margin: 15px;
  padding: 15px;
  width: max-content;
}

.cta {
  width: 570px;
  height: 150px;
  display: flex;
  padding: 45px;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  color: white;
  background: #2A836B;
  transition: 1s;
  box-shadow: 6px 6px 0 white;
  transform: skewX(-15deg);
}

.cta {
  color: white;
  transition: 0.5s;
  box-shadow: 20px 20px 0 white;
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

span {
  transform: skewX(15deg);
}

span:nth-child(2) {
  color: white;
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

svg{
  vertical-align: 0%;
}

.one {
  transition: 0.4s;
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.two {
  transition: 0.5s;
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

.three{
  animation: color_anim 1s infinite 0.2s;
}

@keyframes color_anim {
  0% {
      fill: white;
  }
  50% {
      fill: #2A836B;
  }
  100% {
      fill: white;
  }
}

.bi-joystick{
  padding-left: 15px;
}
.bi-suit-diamond-fill{
  padding-left: 10px;
}

li {
  list-style: none;
  border-radius: 50%;
  display: block;
  position: absolute;
  bottom: -200px;
  animation: up 3s infinite alternate;
}

li:hover{
  box-shadow: 0 0em 0.5em white;
}

@keyframes up {
  0%{
    opacity: 0;
    transform: translateY(0);
  }
  50%{
    opacity: 0.7;
  }
  100%{
    opacity: 0;
    transform: translateY(-1920px);
  }
}

@media screen and (max-width: 1080px) and (max-height: 1920px){
  .col{
    flex: 0;
    z-index: 1001 !important;
    margin: 15px;
    padding: 15px;
    width: max-content;
  }
}
