@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.popup-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    z-index: 1001 !important;
}

.popup {
    position: absolute;
    background: rgba(79, 157, 69, 0.517);
    border-radius: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    color: #fff;
    transform: scale(0);
    transition: 1s;
}

#texto label {
    text-overflow: initial;

}

.popup.active {
    padding: 20px;
    transform: scale(1);
    top: 45em;
}

.btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content {
    padding-bottom: 100px;
}

.btn-close div {
    position: absolute;
    display: flex;
    bottom: -55px;
    width: 70px;
    height: 70px;
    background: #fff;
    transform: rotate(45deg);
    color: #040305;
    font-size: 3em;
    justify-content: center;
    align-items: center;
    transition: 1s;
    margin-right: 86%;
}

.btn-close div:hover {
    transform: rotate(-225deg);
}


.popup.active::before {
    opacity: 1;

}

/* .togglebtn {
    position: absolute;
    padding: 40px 100px;
    background: rgba(80, 157, 69);
    bottom: 700px;
    border-radius: 2000px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    color: #fff;
    font-size: 60px;

}

.popup.active.togglebtn {
    bottom: -90px;
    transform: rotate(135deg);
    background: #1f183f;

}

.togglebtn:hover {
    background: rgba(62, 169, 142, 1);
    transition: 0.5s;
}

.togglebtn::before {
    content: '';
    font-size: 2.5em;
    color: #040305;
    transition: 1s;

}

.popup.active.togglebtn:hover::before {
    color: #040305;
}


.togglebtn:hover::before {
    color: rgb(173, 0, 0);
} */

.togglebtn .active {
    transition-delay: 1s;
}

.togglebtn {
    position: relative;
    min-width: 400px;
    min-height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #000;
    background: #03fb0b;
    background: linear-gradient(90deg, rgb(57, 243, 0) 0%, rgb(86, 247, 0) 100%);
    border: none;
    border-radius: 1000px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    padding: 30px;
    text-align: center;
}

.togglebtn::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00ff1a;
    box-shadow: 0 0 60px #3cff00a3;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 1.3s ease-in-out 0s;
}

.togglebtn:hover,
.togglebtn:focus {
    color: #313133;
    transform: translateY(-6px);
}

.togglebtn:hover::before,
.togglebtn:focus::before {
    opacity: 1;
}

.togglebtn::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 5px solid #2bff00;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 4.5s infinite;
}

.togglebtn:hover::after,
.togglebtn:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

.togglebtn {
    animation: float 5s ease-in-out infinite;

}

@keyframes float {
    0% {
        transform: translatey(20px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(20px);
    }
}


.popup .content {
    min-width: 400px;
    padding: 40px;
    opacity: 0;
    transform: scale(0);
}

.popup.active .content {
    opacity: 1;
    transform: scale(1);
}

.popup .content {
    transition-delay: 1s;
}


.togglebtn.button-hidden {
    display: none;
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}