* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #509d45;
  text-align: center;
  font-size: xxx-large;
  margin-bottom: 50px;
}

main {
  margin: auto;
}

.countainer {
  margin: auto;
}
.game {
  display: grid;
  justify-content: center;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
}

.logoPormade {
  width: 200px;
  display: flex;
  margin: auto;
  margin-bottom: 50px;
}

button {
  color: black;
  font-size: 55pt;
  font-weight: bold;
  height: 200px;
  width: 200px;
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  background-color: #4f9d4533;
}

.score {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.score h2 {
  font-size: xxx-large;
  font-weight: bold;
}
